<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.ambmultimedia.brillamexico" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserProfile"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name=".LoginStep1"
            android:label="@string/title_activity_login_step1"
            android:theme="@style/StatusBarGrey" >
        </activity>
        <activity
            android:name=".LoginStep2"
            android:label="@string/title_activity_login_step2"
            android:theme="@style/StatusBarGrey" >
        </activity>
        <activity
            android:name=".LoginStep4"
            android:label="@string/title_activity_login_step4"
            android:theme="@style/StatusBarGreen" >
        </activity>
        <activity
            android:name=".LoginStep5"
            android:label="@string/title_activity_login_step5"
            android:theme="@style/StatusBarGreen" >
        </activity>
        <activity
            android:name=".Share"
            android:label="@string/title_activity_share"
            android:parentActivityName=".Foto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Foto" />
        </activity>
        <activity
            android:name=".Foto"
            android:label="@string/title_activity_foto" >
        </activity>
        <activity
            android:name=".Selfie"
            android:label="@string/title_activity_selfie"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.MainActivity" />
        </activity>
        <activity
            android:name=".Compromisos"
            android:label="@string/title_activity_compromisos" >
        </activity>
        <activity
            android:name=".LeaderBoard"
            android:label="@string/title_activity_leader_board" >
        </activity>
        <activity
            android:name=".Noticias"
            android:label="@string/title_activity_noticias"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.MainActivity" />
        </activity>
        <activity
            android:name=".NoticiaSelf"
            android:label="@string/title_activity_noticia_self"
            android:parentActivityName=".Noticias" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Noticias" />
        </activity>
        <activity
            android:name=".Logout"
            android:label="@string/title_activity_logout"
            android:parentActivityName=".UserProfile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.UserProfile" />
        </activity>
        <activity
            android:name=".UserViewer"
            android:label="@string/title_activity_user_viewer" >
        </activity>
        <activity
            android:name=".Emprendedores"
            android:label="@string/title_activity_emprendedores" >
        </activity>
        <activity
            android:name=".Emp1"
            android:label="@string/title_activity_emp1"
            android:parentActivityName=".Emprendedores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Emprendedores" />
        </activity>
        <activity
            android:name=".Emp2"
            android:label="@string/title_activity_emp2"
            android:parentActivityName=".Emprendedores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Emprendedores" />
        </activity>
        <activity
            android:name=".Emp3"
            android:label="@string/title_activity_emp3"
            android:parentActivityName=".Emprendedores" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Emprendedores" />
        </activity>
        <activity
            android:name=".Actividad"
            android:label="@string/title_activity_actividad" >
        </activity>

        <!-- Facebook Login -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="518ebe8aa32790e6be7e289acb0f55cfa43cdc3a" />

        <activity
            android:name=".EraseAcount"
            android:label="@string/title_activity_erase_acount"
            android:parentActivityName=".Logout" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.ambmultimedia.brillamexico.Logout" />
        </activity>
    </application>

</manifest>
